[submodule "modules/sample/resolve-pdx"]
	path = modules/sample/resolve-pdx
	url = https://github.com/mskcc/resolve-pdx
[submodule "modules/pair/helix_filters_01"]
	path = modules/pair/helix_filters_01
	url = https://github.com/mskcc/helix_filters_01
